$brand-primary: $purple;
$white: #fff;
$grey-light: #ededed;

#skills {
    .techno {
        display: flex;
    }
}
.multi-steps{
  display: table;
  table-layout: fixed;
  width: 100%;
  > li{
    text-align: center;
    display: table-cell;
    position: relative;
    color: $brand-primary;
    
    
    &:after{
        content: '';
        height: 2px;
        width: 100%;
        background-color: #b8b0cf;
        position: absolute;
        top: 16px;
        left: 50%;
        z-index: -1;
    }
    &:last-child{
        &:after{
            display: none;
        }
    }
    
    &.is-active{

       
        ~ li{
            color: #808080;
     
          
        }
    }
}
}