#banniere {
    background-image: url("../img/background.png");
    background-size: cover;
    height: auto;
    padding: 3% 0px 5% 0px;
}

.fl-fade-in {
    @include fadein3;
}

@keyframes fl-fade-in {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}
@-webkit-keyframes fl-fade-in {
    0% { 
        opacity: 0; 
    }100% { 
        opacity: 1; 
    }
}
@-moz-keyframes fl-fade-in {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

.hidden {
    display: none !important;
  }

// .button_lang {
//     font-family: $body-font-family;
//     background-color: #65499c;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     font-size: 0.8em;
// }

// .button_lang:hover,
// .current_lang {
//     background-color: #9575cd;
// }

// #langues {
//     text-align: right;
//     padding: 0px 5% 0px 0px;
// }