@media screen and (max-width: 780px) {
    h1 {
        font-size: 2.7em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
      font-size: 1.3em;
    }

    #apropos p {
        font-size: 1.5em;
    }

    p {
        font-size: 1.1em;
    }

    .button_lang {
      font-size: 0.7em;
    }

    input[type=text], select, textarea input[type=submit] {
      font-size: 0.7em;
    }

    .info p {
      font-size: 0.9em;
    }

    .container-box {
        @include container-half;
    }

    .column {
        padding: 0 5% 0 5%;
      } 

    .col-75, input[type=submit] {
        width: 100%;
    }

    #formulaire {
        display: block;

        .column {
            padding: 2%;
        }
    }

    .formcontainer {
        width: 100%;
    }

    .info {
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    #contentcontainer {
        width: 90%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
      font-size: 1.3em;
    }

    #apropos p {
      font-size: 1.3em;
    }

    p {
      font-size: 1.2em;
    }

    .button_lang {
      font-size: 0.6em;
    }

    .text-image {
      font-size: 4vw;
    }

    #menu {
        background-color: $background-color;

        label {
            display: block;
            background-color: $background-color;
            cursor: pointer;
            width: 100%;
            padding: 10px;
            text-align: right;
            margin: 0;
        }
    }

    .onglets {
        text-align: center;
        width: 100%;
        display: none;

        li {
            display: inline-block;
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #505050;

            a {
                padding: 0;
                color: $grey-color;
                width: 100%;
                display: inline-block;
                padding: 20px 0;
            }

            &:hover {
                background-color: #65499c;
            }
        }
    }


    #toggle:checked + .onglets {
        display: block;
    }

    .container-box {
        @include container-full;
    }

    .row {
        display: block;
    }
}