@media screen and (max-width: 991px) {
    #body {
        #projects, #skills, #history, #contact {
            .container {      
                .divider {
                    width: 80%;
                }
                h1 {
                    font-size: 2rem;
                }
                .box {
                    padding: 50px;
                }
            }
        }
        #head {
            .div_avatar {
                width: 20vh;
                height: 20vh;
        
                .avatar {
                    
                }
            }
            .fdBlanc {
    
                h1 {
                   
                    font-size: 3.5em;
                }
                h3 {
                    
                    font-size: 3em;
                }
            }
        }
        #contact {
            .container {
                .box {
                    .all_contacts {
                        height: 50vh;
                        .colonne {
                            height: auto;
                            justify-content: initial;
                        }
                    }
                }
            }
        }
    }
    .cards {
        .flip {
            margin: 2rem 0rem;
            >.front, >.back {
            width: 90%;
            margin: auto;
            }
            >.back {
                left: 30px;
            }
        }            
    }
}

@media screen and (max-width: 768px) {
    #body {
        #menu {
            .navbar {
                background-color: transparent;
                // left: 50%;
                .nav {
                    // right: 5vw;
                    // align-items: flex-end;
                    // flex-direction: inherit;
                    height: auto;
                    // justify-content: center;
                    .toggler {
                        display: block;
                    }
                    li {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        .divIcon {
                            display: none;
                        }
                        .text_menu {
                            width: auto;
                            // display: block;
                            left: 0;
                            position: inherit;
                            padding: 10px;
                        }
                        .text_home {
                            display: none;
                        }
                        .arrow_up {
                            // display: block;
                        }
                        .triangle {
                            display: none;
                        }
                        &:nth-child(2) { 
                            background-color: $creme;
                        }
                        &:nth-child(3) {
                            background-color: $blue;
                        }
                        &:nth-child(4) {
                            background-color: $purple;
                        }
                        &:nth-child(5) {
                            background-color: $pink;
                        }
                        &:nth-child(6) {
                            background-color: $dahlia;
                        }
                    }
                }
            }
        }
    }
    .cards {
        .flip { 
            >.front, >.back {
            width: 100%;
            // margin: auto;
            }
            >.back {
                left: 0px;
                p {
                    .phpicon {
                        fill: $phpLight;
                    }
                    .mysqlicon {
                        fill: $mysqlLight;
                    }
                    .angularicon {
                        fill: $angularLight;
                    }
                    .semanticuiicon {
                        fill: $semanticuiLight;
                    }
                    .sassicon {
                        fill: $sassLight;
                    }
                    .jqueryicon {
                        fill: $jqueryLight;
                    }
                }
                .html_icon {
                    color: $htmlLight;
                }
                .css_icon {
                    color: $cssLight;
                }
                .bs_icon {
                    color: $bootstrapLight;
                }
                .js_icon {
                    color: $javascriptLight;
                }
                .symfony_icon {
                    color: black;
                }
            }
        }            
    }
    #skills {
        .colonne {
            .step {
                .textSkill {
                    visibility: visible;
                }
            }
        }
    }
}

@media screen and (max-width: 474px) {
    #body {
        .full-layout {
            background-attachment: scroll; 
        }
        #projects, #skills, #history, #contact {
            .container {      
                .title {
                    h1 {
                        font-size: 1.8rem;
                    }
                }
                .box {
                    padding: 50px 0;
                }
            }
        }
        #head {
            .transparente {
                height: 50vh;
            }
            .div_avatar {
                top: calc(50vh - 9vh);
                width: 18vh;
                height: 18vh;
                left: calc(50% - 9vh);
            }
            .fdBlanc {
                height: 50vh;
                h1 {
                    font-size: 3em;
                    padding-top: 10vh;
                }
                h3 {
                    font-size: 2.2em;
                }
            }
        }
        #projects {
            .cards {
                .flip { 
                    >.front {
                        filter: blur(1px);
                        -webkit-filter: blur(1px);
                    }
                    >.back {
                        background: rgba($color: white, $alpha: 0.4);
                        opacity: 1;
                        transform: rotateY(0deg);
                        color: black;
                        p {
                            svg {
                                height: 40px;
                                width: 40px;
                            }
                        }
                        i {
                            font-size: 2em;
                        }
                        a {
                            box-shadow: 3px -3px 5px 1px rgba($color: black, $alpha: 0.5);
                        }
                    }
                    h4 {
                        padding-top: 2rem;
                    }
                    .text-shadow {
                        text-shadow: 1px 1px rgba(0,0,0, 0.04), 2px 2px rgba(0,0,0, 0.04), 3px 3px rgba(0,0,0, 0.04), 4px 4px rgba(0,0,0, 0.04), 0.125rem 0.125rem rgba(0,0,0, 0.04), 6px 6px rgba(0,0,0, 0.04), 7px 7px rgba(0,0,0, 0.04), 8px 8px rgba(0,0,0, 0.04), 9px 9px rgba(0,0,0, 0.04), 0.3125rem 0.3125rem rgba(0,0,0, 0.04), 11px 11px rgba(0,0,0, 0.04), 12px 12px rgba(0,0,0, 0.04), 13px 13px rgba(0,0,0, 0.04), 14px 14px rgba(0,0,0, 0.04), 0.625rem 0.625rem rgba(0,0,0, 0.04), 16px 16px rgba(0,0,0, 0.04), 17px 17px rgba(0,0,0, 0.04), 18px 18px rgba(0,0,0, 0.04), 19px 19px rgba(0,0,0, 0.04), 1.25rem 1.25rem rgba(0,0,0, 0.04);
                    }
                    &:hover {
                        >.front {
                            transform: none;
                        }
                        >.back {
                            transform: none;
                        }
                    }
                }
            }
        }
        #skills {
            .colonne {
                .step {
                    .textSkill {
                        display: none;
                    }
                }
            }
        }
        #contact {
            .container {
                .box {
                    .all_contacts {
                        .colonne {
                            .way_to_contact {
                                p {
                                    font-size: 1.1rem;
                                }
                                a {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}