.navbar {
    padding: 0;
    background-color: #222 !important;
    border-bottom: 1px solid #555;

    ul {
        transform: translatex(6%);
    }

    li {
        @include display-onglets;

        a {
            padding: 14px 16px;
            font-size: 1.1em;
            text-decoration: none;
            overflow: hidden;
        }
    
        a:hover {
            @include fadein1;
            background-color: #65499c;
            color: white;
        }
    }
}

.langues {
    position: absolute;
    // text-align: right;
}

.button_lang {

    padding: 14px 16px;
    font-size: 1.1em;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        @include fadein1;
        background-color: #65499c;
        color: white;
    }
}

.navbar {
    position: -webkit-sticky;  /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;
    list-style-type: none;
    background-color: $grey-color;
}

.navbar-text {
    left: 80%;
    padding-top: 0;
    padding-bottom: 0;
}
