#menu {
    .navbar {
        z-index: 10000;
        background: rgba(255,255,255,0.6);
        width: auto;
        max-width: auto;
        position: fixed;
        top: 5%;
        left: 1%;
        border-radius: 50px;
        .nav {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 270px;
            li {
                // padding: 10px 0;
                .divIcon {
                    cursor: pointer;
                    border: 1px solid white;
                    border-radius: 50px;
                    width: 50px;
                    height: 50px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 70%;
                        width: 70%;
                    }
                    .mySvg {
                        fill: red;
                    }
                    .logo {
                        fill:purple;
                    }
                }
                &:nth-child(1) {.divIcon, .text_menu {
                        background-color: $blue;
                    }}
                &:nth-child(2) {.divIcon, .text_menu {
                        background-color: $purple;
                    }}
                &:nth-child(3) {.divIcon, .text_menu {
                        background-color: $pink;
                    }}
                &:nth-child(4) {.divIcon, .text_menu {
                        background-color: $dahlia;
                    }}
                .text_menu {
                    color: white;
                    text-align: center;
                    display: none;
                    position: absolute;
                    padding: 20%;
                    left: 90px;
                    width: 130px;
                    .triangle {
                        position: absolute;
                        left: -10px;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                    }
                }
                &:nth-child(1) { .triangle {
                    border-right: 14px solid $blue;
                }}
                &:nth-child(2) {.triangle {
                    border-right: 14px solid $purple;
                }}
                &:nth-child(3) {.triangle {
                    border-right: 14px solid $pink;
                }}
                &:nth-child(4) {.triangle {
                    border-right: 14px solid $dahlia;
                }}
            }
        }
    }
}