@mixin fadein1 () {
    animation: fl-fade-in 0.5s ease-out;
    -webkit-animation: fl-fade-in 0.5s ease-out;
    -moz-animation: fl-fade-in 0.5s ease-out;
}

@mixin fadein3 () {
    animation: fl-fade-in 3s ease-out;
    -webkit-animation: fl-fade-in 3s ease-out;
    -moz-animation: fl-fade-in 3s ease-out;
}

@mixin display-onglets () {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin display-flex () {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flexwrap-projets () {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@mixin transition-projets () {
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

@mixin zoom-projets () {
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    -webkit-transform:scale(1.2); /* Safari et Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* Internet Explorer 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}

    
@mixin container-half () {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
}
    
@mixin container-full () {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
} 

@mixin progressbar-border () {
    -moz-border-radius: $bar-border;
    -webkit-border-radius: $bar-border;
    -ms-border-radius: $bar-border;
    border-radius: $bar-border;
}

@mixin progressbar-animation () {
    -moz-animation: bar-fill 1s;
    -webkit-animation: bar-fill 1s;
    -ms-animation: bar-fill 1s;
    animation: bar-fill 1s;
}

@mixin justify-center () {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin align-items () {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}