#body {
    margin: 0;
    padding:0;
    font-family: 'Exo', sans-serif;
    
    .full-layout {
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        left: 0;
        top: 0;
        background-image: url("../img/bg_typewriter.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    #projects, #skills, #history, #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 90%;
            height: 80%;
            min-height: 80vh;
            margin: 5% auto;
            background-color: rgba($color: white, $alpha: 0.9);
            z-index: 1;
            .title {
                padding-top: 50px;
                h1 {
                    text-transform: uppercase;
                    font-family: "Montserrat";
                    margin: 20px auto;
                    text-align: center;
                    font-size: 3rem;
                    letter-spacing: 3px;
                }
                .divider {
                    height: 2px;
                    margin: auto;
                    width: 60%;
                }
            }
            .box {
                padding: 50px;
            }
        }
        &:nth-child(3) { .divider {
            background: $blue;
        }}
        &:nth-child(4) {.divider {
            background: $purple;
        }}
        &:nth-child(5) {.divider {
            background: $pink;
        }}
        &:nth-child(6) {.divider {
            background: $dahlia;
        }}
    }
}