#body {
    margin: 0;
    padding:0;
    font-family: 'Exo', sans-serif;
    &:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("../img/bg_typewriter.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h4 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.4rem;
    }
    #erreur, #projects, #skills, #history, #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 90%;
            height: 80%;
            min-height: 80vh;
            margin: 5% auto;
            background-color: rgba($color: white, $alpha: 0.9);
            z-index: 1;
            .title {
                padding-top: 50px;
                h1 {
                    text-transform: uppercase;
                    font-family: "Montserrat";
                    margin: 20px auto;
                    text-align: center;
                    font-size: 3.4rem;
                    letter-spacing: 3px;
                    font-weight: 400;
                }
                .divider {
                    height: 2px;
                    margin: auto;
                    width: 60%;
                }
                .dividerror {
                    background: $error;
                }
            }
            .box {
                padding: 50px;
            }
        }
        &:nth-child(3) { .divider {
            background: $blue;
        }}
        &:nth-child(4) {.divider {
            background: $purple;
        }}
        &:nth-child(5) {.divider {
            background: $pink;
        }}
        &:nth-child(6) {.divider {
            background: $dahlia;
        }}
    }
}