$dark-purple-color: #65499c;
$purple-color: #9575cd;
$grey-color: #e0e0e0;
$body-font-family: 'PT Sans', sans-serif;
$title-font-family: 'Comfortaa', cursive;
$background-color: #222;
// $background-color: #373535;

$text-shadow: 2px 2px 2px black; 

$bar-border: 10px 10px 10px 10px;
$bar-animation: bar-fill 1s;
