$creme: #c3afa2;
$blue: #92B6D5;// #91A8D0; 
$purple: #8e81b1;
$pink: #DBB1CD;
$dahlia: #EC9787;

$blueDark: #5a90bf;
$purpleDark: #66578e;

// https://www.w3schools.com/colors/colors_trends.asp

$html: #e34c26;
$css: #264de4;
$bootstrap: #563d7c;
$javascript: #f7df1e;
$php: #777bb3;
$angular: #c3002f;
$mysql: #e48e00;
$semanticui: #35bdb2;
$sass: #cf649a;

$htmlLight : #e55734;
$cssLight: #3357e6;
$bootstrapLight: #5f4389;
$javascriptLight: #f7de22;
$phpLight: #7c80b6;
$angularLight: #cc0030;
$mysqlLight: #ff9d00;
$semanticuiLight: #38c7bb;
$sassLight: #d576a6;