
/* Ne RIEN coder ici, ce fichier va être généré automatiquement par votre `sass --watch ...` ! */
@font-face {
    font-family: 'BellaFree';
    src: url('BellaFree.otf');
    /* IE9 Compat Modes */
    margin: 1px;
}