#body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif; }
  #body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../img/bg_typewriter.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  #body h4 {
    font-size: 1.7rem; }
  #body p {
    font-size: 1.4rem; }
  #body #projects, #body #skills, #body #history, #body #contact {
    display: flex;
    justify-content: center;
    align-items: center; }
    #body #projects .container, #body #skills .container, #body #history .container, #body #contact .container {
      width: 90%;
      height: 80%;
      min-height: 80vh;
      margin: 5% auto;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1; }
      #body #projects .container .title, #body #skills .container .title, #body #history .container .title, #body #contact .container .title {
        padding-top: 50px; }
        #body #projects .container .title h1, #body #skills .container .title h1, #body #history .container .title h1, #body #contact .container .title h1 {
          text-transform: uppercase;
          font-family: "Montserrat";
          margin: 20px auto;
          text-align: center;
          font-size: 3.4rem;
          letter-spacing: 3px; }
        #body #projects .container .title .divider, #body #skills .container .title .divider, #body #history .container .title .divider, #body #contact .container .title .divider {
          height: 2px;
          margin: auto;
          width: 60%; }
      #body #projects .container .box, #body #skills .container .box, #body #history .container .box, #body #contact .container .box {
        padding: 50px; }
    #body #projects:nth-child(3) .divider, #body #skills:nth-child(3) .divider, #body #history:nth-child(3) .divider, #body #contact:nth-child(3) .divider {
      background: #92B6D5; }
    #body #projects:nth-child(4) .divider, #body #skills:nth-child(4) .divider, #body #history:nth-child(4) .divider, #body #contact:nth-child(4) .divider {
      background: #8e81b1; }
    #body #projects:nth-child(5) .divider, #body #skills:nth-child(5) .divider, #body #history:nth-child(5) .divider, #body #contact:nth-child(5) .divider {
      background: #DBB1CD; }
    #body #projects:nth-child(6) .divider, #body #skills:nth-child(6) .divider, #body #history:nth-child(6) .divider, #body #contact:nth-child(6) .divider {
      background: #EC9787; }

#menu .navbar {
  z-index: 10000;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  max-width: auto;
  position: fixed;
  top: 5%;
  left: 5%;
  border-radius: 50px;
  padding: 0; }
  #menu .navbar .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px; }
    #menu .navbar .nav .toggler {
      background: rgba(255, 255, 255, 0.6);
      display: none;
      color: rgba(0, 0, 0, 0.5);
      padding: 0.7rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      width: 3.3rem; }
    #menu .navbar .nav li {
      display: flex;
      align-items: center; }
      #menu .navbar .nav li .divIcon {
        cursor: pointer;
        border: 1px solid white;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; }
        #menu .navbar .nav li .divIcon .img_menu {
          height: 70%;
          width: 70%; }
        #menu .navbar .nav li .divIcon .avatar {
          height: 110%;
          width: 110%; }
      #menu .navbar .nav li .menu_head {
        background-color: #c3afa2; }
      #menu .navbar .nav li .menu_projects {
        background-color: #92B6D5; }
      #menu .navbar .nav li .menu_skills {
        background-color: #8e81b1; }
      #menu .navbar .nav li .menu_history {
        background-color: #DBB1CD; }
      #menu .navbar .nav li .menu_contact {
        background-color: #EC9787; }
      #menu .navbar .nav li .arrow_up {
        display: none;
        color: white;
        text-align: center;
        background-color: #c3afa2;
        padding: 10px;
        height: 100%;
        padding: 14.5px; }
      #menu .navbar .nav li .text_menu {
        color: white;
        text-align: center;
        display: none;
        position: absolute;
        padding: 20%;
        left: 90px;
        width: 10rem; }
        #menu .navbar .nav li .text_menu .triangle {
          position: absolute;
          left: -10px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent; }
        #menu .navbar .nav li .text_menu .arrow_head {
          border-right: 14px solid #c3afa2; }
        #menu .navbar .nav li .text_menu .arrow_projects {
          border-right: 14px solid #92B6D5; }
        #menu .navbar .nav li .text_menu .arrow_skills {
          border-right: 14px solid #8e81b1; }
        #menu .navbar .nav li .text_menu .arrow_history {
          border-right: 14px solid #DBB1CD; }
        #menu .navbar .nav li .text_menu .arrow_contact {
          border-right: 14px solid #EC9787; }
      #menu .navbar .nav li:nth-child(2) .text_menu {
        top: 4px; }
      #menu .navbar .nav li:nth-child(3) .text_menu {
        top: 68px; }
      #menu .navbar .nav li:nth-child(4) .text_menu {
        top: 130px; }
      #menu .navbar .nav li:nth-child(5) .text_menu {
        top: 192px; }
      #menu .navbar .nav li:nth-child(6) .text_menu {
        top: 254px; }

#head .transparente {
  height: 60vh;
  width: 100%; }
#head .div_avatar {
  z-index: 10;
  position: absolute;
  left: 67%;
  top: 50%;
  width: 22vh;
  height: 22vh;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white; }
  #head .div_avatar .avatar {
    background-color: #d5e6eb;
    border-radius: 50%;
    width: 94%;
    margin: 3%; }
#head .fdBlanc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 60vh;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  color: #000;
  /* the magic property */
  mix-blend-mode: screen; }
  #head .fdBlanc h1 {
    padding-top: 6vh;
    font-size: 4em; }
  #head .fdBlanc h3 {
    padding-bottom: 6vh;
    font-size: 2.5em; }
  #head .fdBlanc .transparent-text {
    font-weight: 700;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: bold; }

.cards {
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly; }
  .cards .flip {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    padding: auto 2rem;
    width: inherit; }
    .cards .flip h4 {
      margin: 0;
      font-size: 2.2em; }
    .cards .flip .text-shadow {
      text-shadow: 1px 1px rgba(255, 255, 255, 0.04), 2px 2px rgba(255, 255, 255, 0.04), 3px 3px rgba(255, 255, 255, 0.04), 4px 4px rgba(255, 255, 255, 0.04), 0.125rem 0.125rem rgba(255, 255, 255, 0.04), 6px 6px rgba(255, 255, 255, 0.04), 7px 7px rgba(255, 255, 255, 0.04), 8px 8px rgba(255, 255, 255, 0.04), 9px 9px rgba(255, 255, 255, 0.04), 0.3125rem 0.3125rem rgba(255, 255, 255, 0.04), 11px 11px rgba(255, 255, 255, 0.04), 12px 12px rgba(255, 255, 255, 0.04), 13px 13px rgba(255, 255, 255, 0.04), 14px 14px rgba(255, 255, 255, 0.04), 0.625rem 0.625rem rgba(255, 255, 255, 0.04), 16px 16px rgba(255, 255, 255, 0.04), 17px 17px rgba(255, 255, 255, 0.04), 18px 18px rgba(255, 255, 255, 0.04), 19px 19px rgba(255, 255, 255, 0.04), 1.25rem 1.25rem rgba(255, 255, 255, 0.04); }
    .cards .flip > .front,
    .cards .flip > .back {
      display: block;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: 2s;
      transition-property: transform, opacity;
      color: white;
      background-size: cover !important;
      background-position: center !important;
      height: 17rem;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 10px; }
      .cards .flip > .front p,
      .cards .flip > .back p {
        margin: 0;
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999; }
    .cards .flip > .front {
      transform: rotateY(0deg); }
    .cards .flip > .back {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transform: rotateY(-180deg); }
      .cards .flip > .back p {
        display: inline-flex;
        align-items: center; }
        .cards .flip > .back p svg {
          height: 61px;
          width: 61px;
          fill: #999; }
        .cards .flip > .back p .m_side {
          margin: auto .15em; }
        .cards .flip > .back p .semanticuiicon:hover {
          fill: #35bdb2; }
        .cards .flip > .back p .sassicon:hover {
          fill: #cf649a; }
        .cards .flip > .back p .jqueryicon:hover {
          fill: #78cff5; }
        .cards .flip > .back p .angularicon:hover {
          fill: #c3002f; }
        .cards .flip > .back p .phpicon:hover {
          fill: #777bb3; }
        .cards .flip > .back p .mysqlicon:hover {
          fill: #e48e00; }
        .cards .flip > .back p .symfony_icon:hover {
          color: black; }
        .cards .flip > .back p .html_icon:hover {
          color: #e34c26; }
        .cards .flip > .back p .css_icon:hover {
          color: #264de4; }
        .cards .flip > .back p .bs_icon:hover {
          color: #563d7c; }
        .cards .flip > .back p .js_icon:hover {
          color: #f7df1e; }
      .cards .flip > .back a {
        text-decoration: none;
        color: white;
        background-color: #92B6D5;
        font-size: 1.4rem;
        border-radius: 2px;
        padding: 0.4rem 0.60rem;
        transition: 0.3s all ease-in; }
        .cards .flip > .back a:hover {
          background-color: #5a90bf; }
    .cards .flip:hover > .front {
      transform: rotateY(180deg); }
    .cards .flip:hover > .back {
      opacity: 1;
      transform: rotateY(0deg); }
    .cards .flip.flip-vertical > .back {
      transform: rotateX(-180deg); }
    .cards .flip.flip-vertical:hover > .front {
      transform: rotateX(180deg); }
    .cards .flip.flip-vertical:hover > .back {
      transform: rotateX(0deg); }

#skills .colonne {
  justify-content: center;
  display: flex;
  height: 50vh; }
  #skills .colonne h4 {
    padding-right: 2rem; }
  #skills .colonne .step {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #skills .colonne .step .circleSkill {
      width: 100px; }
      #skills .colonne .step .circleSkill .fa-active {
        transition: 0.3s all ease-in;
        color: #8e81b1; }
        #skills .colonne .step .circleSkill .fa-active:hover {
          color: #66578e; }
      #skills .colonne .step .circleSkill .fa-grey {
        color: #bebebe; }
    #skills .colonne .step .textSkill {
      visibility: hidden; }
    #skills .colonne .step .circleSkill:nth-child(1) .fa-active {
      color: #92B6D5; }
    #skills .colonne .step .circleSkill:nth-child(2) .fa-active {
      color: #8e81b1; }
    #skills .colonne .step .circleSkill:nth-child(3) .fa-active {
      color: #DBB1CD; }
    #skills .colonne .step .circleSkill:nth-child(4) .fa-active {
      color: #92B6D5; }
    #skills .colonne .step .circleSkill:nth-child(5) .fa-active {
      color: #8e81b1; }
    #skills .colonne .step .circleSkill:nth-child(6) .fa-active {
      color: #DBB1CD; }

#contact .container .box .all_contacts {
  justify-content: center; }
  #contact .container .box .all_contacts .colonne {
    justify-content: center;
    display: flex;
    height: 40vh; }
    #contact .container .box .all_contacts .colonne .way_to_contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #contact .container .box .all_contacts .colonne .way_to_contact img {
        width: 2rem;
        margin-right: 20px; }
      #contact .container .box .all_contacts .colonne .way_to_contact p {
        font-size: 1.5rem;
        margin: 0; }
      #contact .container .box .all_contacts .colonne .way_to_contact a {
        text-decoration: none;
        font-size: 1.4rem; }

@media screen and (max-width: 991px) {
  #body #projects .container .divider, #body #skills .container .divider, #body #history .container .divider, #body #contact .container .divider {
    width: 80%; }
  #body #projects .container h1, #body #skills .container h1, #body #history .container h1, #body #contact .container h1 {
    font-size: 2rem; }
  #body #projects .container .box, #body #skills .container .box, #body #history .container .box, #body #contact .container .box {
    padding: 50px; }
  #body #head .div_avatar {
    width: 20vh;
    height: 20vh; }
  #body #head .fdBlanc h1 {
    font-size: 3.5em; }
  #body #head .fdBlanc h3 {
    font-size: 3em; }
  #body #contact .container .box .all_contacts {
    height: 50vh; }
    #body #contact .container .box .all_contacts .colonne {
      height: auto;
      justify-content: initial; }

  .cards .flip {
    margin: 2rem 0rem; }
    .cards .flip > .front, .cards .flip > .back {
      width: 90%;
      margin: auto; }
    .cards .flip > .back {
      left: 30px; } }
@media screen and (max-width: 768px) {
  #body #menu .navbar {
    background-color: transparent; }
    #body #menu .navbar .nav {
      height: auto; }
      #body #menu .navbar .nav .toggler {
        display: block; }
      #body #menu .navbar .nav li {
        width: 100%;
        display: flex;
        justify-content: center; }
        #body #menu .navbar .nav li .divIcon {
          display: none; }
        #body #menu .navbar .nav li .text_menu {
          width: auto;
          left: 0;
          position: inherit;
          padding: 10px; }
        #body #menu .navbar .nav li .text_home {
          display: none; }
        #body #menu .navbar .nav li .triangle {
          display: none; }
        #body #menu .navbar .nav li:nth-child(2) {
          background-color: #c3afa2; }
        #body #menu .navbar .nav li:nth-child(3) {
          background-color: #92B6D5; }
        #body #menu .navbar .nav li:nth-child(4) {
          background-color: #8e81b1; }
        #body #menu .navbar .nav li:nth-child(5) {
          background-color: #DBB1CD; }
        #body #menu .navbar .nav li:nth-child(6) {
          background-color: #EC9787; }

  .cards .flip > .front, .cards .flip > .back {
    width: 100%; }
  .cards .flip > .back {
    left: 0px; }
    .cards .flip > .back p .phpicon {
      fill: #7c80b6; }
    .cards .flip > .back p .mysqlicon {
      fill: #ff9d00; }
    .cards .flip > .back p .angularicon {
      fill: #cc0030; }
    .cards .flip > .back p .semanticuiicon {
      fill: #38c7bb; }
    .cards .flip > .back p .sassicon {
      fill: #d576a6; }
    .cards .flip > .back p .jqueryicon {
      fill: #88d5f6; }
    .cards .flip > .back .html_icon {
      color: #e55734; }
    .cards .flip > .back .css_icon {
      color: #3357e6; }
    .cards .flip > .back .bs_icon {
      color: #5f4389; }
    .cards .flip > .back .js_icon {
      color: #f7de22; }
    .cards .flip > .back .symfony_icon {
      color: black; }

  #skills .colonne .step .textSkill {
    visibility: visible; } }
@media screen and (max-width: 474px) {
  #body .full-layout {
    background-attachment: scroll; }
  #body #projects .container .title h1, #body #skills .container .title h1, #body #history .container .title h1, #body #contact .container .title h1 {
    font-size: 1.8rem; }
  #body #projects .container .box, #body #skills .container .box, #body #history .container .box, #body #contact .container .box {
    padding: 50px 0; }
  #body #head .transparente {
    height: 50vh; }
  #body #head .div_avatar {
    top: calc(50vh - 9vh);
    width: 18vh;
    height: 18vh;
    left: calc(50% - 9vh); }
  #body #head .fdBlanc {
    height: 50vh; }
    #body #head .fdBlanc h1 {
      font-size: 3em;
      padding-top: 10vh; }
    #body #head .fdBlanc h3 {
      font-size: 2.2em; }
  #body #projects .cards .flip > .front {
    filter: blur(1px);
    -webkit-filter: blur(1px); }
  #body #projects .cards .flip > .back {
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
    transform: rotateY(0deg);
    color: black; }
    #body #projects .cards .flip > .back p svg {
      height: 40px;
      width: 40px; }
    #body #projects .cards .flip > .back i {
      font-size: 2em; }
    #body #projects .cards .flip > .back a {
      box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5); }
  #body #projects .cards .flip h4 {
    padding-top: 2rem; }
  #body #projects .cards .flip .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04); }
  #body #projects .cards .flip:hover > .front {
    transform: none; }
  #body #projects .cards .flip:hover > .back {
    transform: none; }
  #body #skills .colonne .step .textSkill {
    display: none; } }

/*# sourceMappingURL=style.css.map */
