#body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }
  #body .full-layout {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url("../img/bg_typewriter.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }
  #body #projects, #body #skills, #body #history, #body #contact {
    display: flex;
    justify-content: center;
    align-items: center; }
    #body #projects .container, #body #skills .container, #body #history .container, #body #contact .container {
      width: 90%;
      height: 80%;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.9); }
    #body #projects .box, #body #skills .box, #body #history .box, #body #contact .box {
      padding: 50px; }
      #body #projects .box .divider, #body #skills .box .divider, #body #history .box .divider, #body #contact .box .divider {
        background: #92B6D5;
        height: 2px;
        margin: auto;
        width: 60%; }
      #body #projects .box h1, #body #skills .box h1, #body #history .box h1, #body #contact .box h1 {
        text-transform: uppercase;
        font-family: "Montserrat";
        margin: 20px auto;
        letter-spacing: 3px;
        text-align: center;
        font-size: 3rem; }
    #body #projects:nth-child(3) .divider, #body #skills:nth-child(3) .divider, #body #history:nth-child(3) .divider, #body #contact:nth-child(3) .divider {
      background: #92B6D5; }
    #body #projects:nth-child(4) .divider, #body #skills:nth-child(4) .divider, #body #history:nth-child(4) .divider, #body #contact:nth-child(4) .divider {
      background: #8e81b1; }
    #body #projects:nth-child(5) .divider, #body #skills:nth-child(5) .divider, #body #history:nth-child(5) .divider, #body #contact:nth-child(5) .divider {
      background: #DBB1CD; }
    #body #projects:nth-child(6) .divider, #body #skills:nth-child(6) .divider, #body #history:nth-child(6) .divider, #body #contact:nth-child(6) .divider {
      background: #EC9787; }

#menu .navbar {
  z-index: 10000;
  background: rgba(255, 255, 255, 0.6);
  width: auto;
  max-width: auto;
  position: fixed;
  top: 5%;
  left: 1%;
  border-radius: 50px; }
  #menu .navbar .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 270px; }
    #menu .navbar .nav li .divIcon {
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      #menu .navbar .nav li .divIcon img {
        height: 70%;
        width: 70%; }
      #menu .navbar .nav li .divIcon .mySvg {
        fill: red; }
      #menu .navbar .nav li .divIcon .logo {
        fill: purple; }
    #menu .navbar .nav li:nth-child(1) .divIcon, #menu .navbar .nav li:nth-child(1) .text_menu {
      background-color: #92B6D5; }
    #menu .navbar .nav li:nth-child(2) .divIcon, #menu .navbar .nav li:nth-child(2) .text_menu {
      background-color: #8e81b1; }
    #menu .navbar .nav li:nth-child(3) .divIcon, #menu .navbar .nav li:nth-child(3) .text_menu {
      background-color: #DBB1CD; }
    #menu .navbar .nav li:nth-child(4) .divIcon, #menu .navbar .nav li:nth-child(4) .text_menu {
      background-color: #EC9787; }
    #menu .navbar .nav li .text_menu {
      color: white;
      text-align: center;
      display: none;
      position: absolute;
      padding: 20%;
      left: 90px;
      width: 130px; }
      #menu .navbar .nav li .text_menu .triangle {
        position: absolute;
        left: -10px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; }
    #menu .navbar .nav li:nth-child(1) .triangle {
      border-right: 14px solid #92B6D5; }
    #menu .navbar .nav li:nth-child(2) .triangle {
      border-right: 14px solid #8e81b1; }
    #menu .navbar .nav li:nth-child(3) .triangle {
      border-right: 14px solid #DBB1CD; }
    #menu .navbar .nav li:nth-child(4) .triangle {
      border-right: 14px solid #EC9787; }

#head .div_avatar {
  z-index: 10;
  position: absolute;
  left: 67%;
  top: 50%;
  width: 22vh;
  height: 22vh;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white; }
  #head .div_avatar .avatar {
    background-color: #d5e6eb;
    border-radius: 50%;
    width: 94%;
    margin: 3%; }
#head .fdBlanc svg {
  position: absolute;
  top: 60vh;
  width: 100vw; }
  #head .fdBlanc svg text {
    text-anchor: middle; }
  #head .fdBlanc svg #alpha {
    fill: white; }
  #head .fdBlanc svg .text {
    font-family: "Montserrat";
    letter-spacing: 1px;
    font-weight: bold; }
  #head .fdBlanc svg .title {
    font-size: 4em; }
  #head .fdBlanc svg .subtitle {
    font-size: 2.5em; }
  #head .fdBlanc svg #base {
    fill: white;
    -webkit-mask: url(#mask);
    mask: url(#mask); }

* {
  box-sizing: border-box;
  font-weight: normal; }

.cards {
  height: auto;
  padding: 1.5em 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly; }
  .cards .flip {
    position: relative; }
    .cards .flip h4 {
      margin: 0;
      font-size: 2.2em; }
    .cards .flip > .front,
    .cards .flip > .back {
      display: block;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: 2s;
      transition-property: transform, opacity; }
    .cards .flip > .front {
      transform: rotateY(0deg); }
    .cards .flip > .back {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transform: rotateY(-180deg); }
      .cards .flip > .back a {
        text-decoration: none;
        color: white;
        background-color: #92B6D5;
        font-size: 1.4rem;
        border-radius: 2px;
        padding: 0.4rem 0.60rem;
        transition: 0.3s all ease-in; }
        .cards .flip > .back a:hover {
          background-color: #4783b8; }
    .cards .flip:hover > .front {
      transform: rotateY(180deg); }
    .cards .flip:hover > .back {
      opacity: 1;
      transform: rotateY(0deg); }
    .cards .flip.flip-vertical > .back {
      transform: rotateX(-180deg); }
    .cards .flip.flip-vertical:hover > .front {
      transform: rotateX(180deg); }
    .cards .flip.flip-vertical:hover > .back {
      transform: rotateX(0deg); }

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px; }
  .flip > .front,
  .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 250px;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px; }
    .flip > .front p,
    .flip > .back p {
      margin: 0;
      font-size: 0.9125rem;
      line-height: 160%;
      color: #999; }

.text-shadow {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.04), 2px 2px rgba(255, 255, 255, 0.04), 3px 3px rgba(255, 255, 255, 0.04), 4px 4px rgba(255, 255, 255, 0.04), 0.125rem 0.125rem rgba(255, 255, 255, 0.04), 6px 6px rgba(255, 255, 255, 0.04), 7px 7px rgba(255, 255, 255, 0.04), 8px 8px rgba(255, 255, 255, 0.04), 9px 9px rgba(255, 255, 255, 0.04), 0.3125rem 0.3125rem rgba(255, 255, 255, 0.04), 11px 11px rgba(255, 255, 255, 0.04), 12px 12px rgba(255, 255, 255, 0.04), 13px 13px rgba(255, 255, 255, 0.04), 14px 14px rgba(255, 255, 255, 0.04), 0.625rem 0.625rem rgba(255, 255, 255, 0.04), 16px 16px rgba(255, 255, 255, 0.04), 17px 17px rgba(255, 255, 255, 0.04), 18px 18px rgba(255, 255, 255, 0.04), 19px 19px rgba(255, 255, 255, 0.04), 1.25rem 1.25rem rgba(255, 255, 255, 0.04); }

/*# sourceMappingURL=style.css.map */
